@import url('../fontFaces.css');

Label{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-smoothing-type: gray;
}

.login-label{
    -fx-font-size: 40px;
    -fx-font-weight: 700;
}

.input-blocks{
    -fx-padding: 5px 60px;
}

.text-fields{
    -jfx-unfocus-color: #FFFFFF;
}

.inputs{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 16px;
}

.check-boxs{
    -jfx-unchecked-color: #FFFFFF;
}

.buttons{
    -fx-padding: 7px 18px;
    -fx-font-size: 16px;
}

.error-label{
    -fx-font-size: 15px;
}
